// Blueprint Component Library
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "jsoneditor-react/es/editor.min.css";

// Globals
@import "variables.scss";
@import "fonts.scss";

// Containers
@import "../jsx/containers/app/App.scss";

// Components
@import "../jsx/components/common/Common.scss";
@import "../jsx/components/header/Header.scss";
@import "../jsx/components/main/Main.scss";
@import "../jsx/components/footer/Footer.scss";
@import "../jsx/components/phenotypes/Phenotypes.scss";
@import "../jsx/components/connections/Connections.scss";
@import "../jsx/components/details/Details.scss";
@import "../jsx/components/details/Welcome.scss";
@import "../jsx/components/cql/Cql.scss";
@import "../jsx/components/log/ExecutionLog.scss";

// Pull this out into separate module
@import "../jsx/components/cql/cql-editor/CqlEditor.scss";

// Global styles
html,
body,
#phex {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  position: absolute;
}

.bp3-heading {
  font-family: "Syncopate";
}
