.cqlWindow {
  &__wrapper {
    height: 100%; //
    width: 100%;

    &__pane {
      position: relative;
      height: calc(100% - 60px);
      width: 100%;
    }
  }

  &__header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    &__title {
      font-family: "Syncopate";
    }

    &__runner {
      margin-right: 10px;

      &__label {
        margin-right: 10px;
        line-height: 20px;
      }
    }
  }
}

.cqlResults {
  height: 100%;
  overflow: scroll;
}
