.phenotypes {
  width: 100%;

  &__list {
    &__item {
      padding: 5px 5px 0px 5px;

      &__name {
        color: dimgray;
        font-size: 16px;
      }

      &__size {
        padding-left: 10px;
        font-size: 10px;
        color: darkgray;
      }
    }
  }
}

.addPhenotype {
  height: 100%;
  padding: 10px 10px 0px 10px;

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      margin-right: 5px;
    }
  }
}

.dropArea,
.dropArea--active {
  height: 150px;
  border: 2px dashed map-get($colors, darkGray);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--active {
    border: 2px dashed map-get($colors, primary);
  }

  &__text,
  &__text--active {
    margin-bottom: 15px;

    &--active {
      color: map-get($colors, primary);
    }
  }

  &__icon {
    color: map-get($colors, darkGray);

    &--active {
      color: map-get($colors, primary);
    }
  }
}

.addPhenotype {
  &__selected {
    &__title {
      margin-top: 15px;
    }

    &__phenotypes {
      &__name {
        font-size: 18px;
      }

      &__size {
        margin-left: 5px;
        font-size: 10px;
        color: dimgray;
      }

      &__modified {
        margin-left: 5px;
        font-size: 10px;
        color: darkgray;
      }
    }
  }
}
