.footer {
  &__text {
    text-align: center;
    font-family: "Syncopate";
    font-size: map-get($fontSize, footer);
    color: map-get($colors, lightGray);
    background: map-get($colors, darkBlue);
    background: linear-gradient( 90deg,
    map-get($colors, blue) 0%,
    map-get($colors, darkPurple) 100%);
    padding: 10px;
  }

  &__icon {
    fill: map-get($colors, lightGray);
  }

  a {
    color: map-get($colors, lightGray);
  }
}
