.footer {
  text-align: center;
  font-family: 'Syncopate';
  font-size: map-get($fontSize, footer);

  a {
    color: map-get($colors, lightGray);
  }

  .ant-layout-footer {
    color: map-get($colors, lightGray);
    background: map-get($colors, darkBlue);
    background: linear-gradient(90deg, map-get($colors, blue) 0%, map-get($colors, darkPurple) 100%);
    padding: 10px;
  }
}