.header {
  background: map-get($colors, darkBlue);
  background: linear-gradient( 90deg,
  map-get($colors, blue) 0%,
  map-get($colors, darkPurple) 100%);
  padding: 0 14px;
  height: 50px;
  line-height: 52px;

  &__logo {
    width: 50px;
    height: 31px;
    background: map-get($images, phemaIcon);
    background-repeat: no-repeat;
    margin: 8px 4px;
    float: left;
  }

  &__text {
    color: map-get($colors, lightGray);
    font-family: "Syncopate";
    font-size: map-get($fontSize, headerLarge);
  }
}
